# compiled output
/dist
/node_modules
/build
/storybook-static


# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

.env
*storybook.log
.vercel

